
body{
    margin: 0%;
    font-family: 'Bebas Neue', cursive;
}

header{
    padding: 10px;
}

h1{
    font-size: 80px;

    font-weight: 500;
}
h5{
    font-family: sans-serif;
}
p{
    font-family: sans-serif;
}

span{
    color: orange;
}


.footer-fix{
    border: 0px;
    background-color: white;
}
.card-border{
    border: 0px;
    border-radius: 1em;
}
.image-border{
    border-radius: 1em;
}

footer{
    background-color: #333;
}
.footer-nav{
    list-style: none;
    float: left;
}
.social-links{
    list-style: none;
    float: right;
}
.footer-nav li,
.social-links li{
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
.footer-nav li a:hover,
.footer-nav li a:active{
    color: #add;
}

.social-links li a:link,
.social-links li a:visited{
    font-size: 180%;
}
footer p{
    color: #888;
    text-align: center;
    font-size: 90%;
    margin-top: 30px;
}